* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
}

.header-main {
    width: 100%;
    background: rgba(0, 1, 3, 0.644);
}

.header-container {
    width: 100%;
    height: 5.5em;
}

@media (max-width: 945px) {
    .header-text h1 {
        font-size: 2em;
    }
}

@media (max-width: 770px) {
    .header-text h1 {
        font-size: 1.6em;
    }
}

.header-text {
    margin: 0 15%;
    white-space: nowrap;
}

.bg-image {
    background-image: url(./images/banner-main.jpg);
    max-width: 100%;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.mask-custom {
    background: rgba(68, 77, 112, 0.85);
}

.row-main {
    width: 100%;
}

.main-content {
    text-align: center;
}

.info {
    justify-content: space-between;
    margin-top: 3em;
}

.main-content > h1 {
    font-size: 3em;
}

.main-content > h3 {
    font-size: 1.6em;
}

.main-content > h5 {
    font-size: 1.8em;
}

.contagem > h1 {
    font-size: 3.5em;
}

.info > h4{
    font-size: 1.3em;
}

.data, .local {
    width: 10em;
    background: rgba(32, 163, 65, 0.507);
    border-style: outset;
    border-color: rgba(0, 1, 3, 0.411);
    border-radius: 1em;
}