@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

body {
    min-width: 400px;
}

main {
    height: 100vh;
}

.header-main {
    width: 100%;
    background: rgba(0, 1, 3, 0.644);
}

.header-container {
    width: 100%;
    height: 5.5em;
}

@media (max-width: 1200px) {
    .header-container {
        height: 8em;
    }
}

@media (max-width: 992px) {
    .header-container {
        height: 8.5em;
    }

}

@media (min-width: 1300px) {
    .header-text h1 {
        font-size: 1.8em;
    }
}


@media (max-width: 945px) {
    .header-text h1 {
        font-size: 2em;
    }
}

@media (max-width: 770px) {
    .header-text h1 {
        font-size: 1.7em;
    }

    .main-content h1 {
        font-size: 2em;
    }
}

@media (min-width: 500px) {
    .main-content > h1 {
        font-size: 3em;
    }
}

@media (max-width: 560px) {
    .main-content > h1 {
        font-size: 2.3em;
    }

    #timer {
        font-size: 3em;
    }
}

.header-text {
    margin: 0 18%;
    width: 100%;
}

.bg-image {
    background-image: url(./images/banner-main.jpg);
    max-width: 100%;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.mask-custom {
    background: rgba(68, 77, 112, 0.85);
}

.row-main {
    width: 100%;
}

.main-content {
    text-align: center;
    width: 100%;
}

.info {
    justify-content: space-between;
    width: 100%;
    margin-top: 3em;
}

.main-content > h2 {
    font-size: 1.6em;
}

.main-content > h5 {
    font-size: 1.8em;
}

.countdown > h1 {
    font-size: 3.5em;
    font-weight: 700;
}

.info-text{
    font-size: 1.3em;
}

.data, .local {
    background: rgba(32, 163, 65, 0.507);
    border-style: outset;
    border-color: rgba(0, 1, 3, 0.411);
    border-radius: 1em;
    text-align: center;
}

.icon {
    font-size: 1.5em;
    color: rgb(39, 52, 95);
}

.icon > i {
    color: rgba(32, 163, 65, 0.507);
}

.footer-main-container {
    width: 100%;
    padding: 3%;
    background: rgba(0, 1, 3, 0.644);
}

.footer-container {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-small-text {
    font-size: 1em;
}

.main-logo {
    text-decoration: none;
}